<%- include("header") -%>
<%- include("materialsHeader") -%>


      <% table.forEach(function(item) { %>
        <tr>
          <td><input type="checkbox" name="" value=""></td>
          <td> <span contenteditable="true"><%= item.Item %></span> </td>
          <td> <span contenteditable="true"><%= item.specSection %></span> </td>
          <td> <span contenteditable="true"><%= item.responsibleSubcontractor %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.actualReleaseDate %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.submittalPrepTime %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.actualSubmissionDate %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.approvalTime %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.anticipatedApproval %></span> </td>
          <td> <span contenteditable="true"><%= item.actualApprovalDate %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.leadTime %></span> </td>
          <td> <span contenteditable="true"><%= item.requiredOnSite %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.confirmedDeliveryDate %></span> </td>
          <td> <span contenteditable="true"><%= item.confirmedSubWarehouse %></span> </td>
          <td> <span contenteditable="true"><%= item.actualDeliveryDate %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.Notes %></span> </td>
        </tr>
        
      <% }) %>

    </table>
  </section>

  <section id="footer">
    <button type="button" class="control-bar-item btn btn-secondary create-btn"> <i class="fas fa-sm fa-plus"></i> Update</button>

  </section>

  <%- include("footer") -%>
