<%- include("header") -%>
<%- include("materialsHeader") -%>


  <section id="table">
    <table>
      <thead>
        <th></th>
        <th>Item</th>
        <th>Spec Section</th>
        <th>Responsible Subcontractor</th>
        <th class="calculated-table-field">Anticipated Release Date</th>
        <th>Actual Release Date</th>
        <th class="calculated-table-field">Buyout Variance (Days)</th>
        <th>Submittal Prep Time</th>
        <th class="calculated-table-field">Required Submission to Architect</th>
        <th class="calculated-table-field">Anticipated Submission Date</th>
        <th>Actual Submission Date</th>
        <th class="calculated-table-field">Submittal Variance (Days)</th>
        <th>Approval Time (Days)</th>
        <th class="calculated-table-field">Required Submittal Approval Date</th>
        <th>Anticipated Submittal Approval Date</th>
        <th>Actual Submittal Approval Date</th>
        <th class="calculated-table-field">Approval Variance</th>
        <th>Lead Time</th>
        <th>Required On Site Date</th>
        <th class="calculated-table-field">Anticipated Delivery Date</th>
        <th>Confirmed Delivery Date</th>
        <th>Confirmed Sub Warehouse (Y/N)</th>
        <th>Actual Delivery Date</th>
        <th class="calculated-table-field"> Delivery Variance (Days)</th>
        <th> Notes</th>
      </thead>
      <% table.forEach(function(item) { %>
        <tr>
          <td><input type="checkbox" name="" value=""></td>
          <td> <span contenteditable="true"><%= item.Item %></span> </td>
          <td> <span contenteditable="true"><%= item.specSection %></span> </td>
          <td> <span contenteditable="true"><%= item.responsibleSubcontractor %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.actualReleaseDate %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.submittalPrepTime %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.actualSubmissionDate %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.approvalTime %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.anticipatedApproval %></span> </td>
          <td> <span contenteditable="true"><%= item.actualApprovalDate %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.leadTime %></span> </td>
          <td> <span contenteditable="true"><%= item.requiredOnSite %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.confirmedDeliveryDate %></span> </td>
          <td> <span contenteditable="true"><%= item.confirmedSubWarehouse %></span> </td>
          <td> <span contenteditable="true"><%= item.actualDeliveryDate %></span> </td>
          <td class="calculated-table-field"> <span contenteditable="true">7</span> </td>
          <td> <span contenteditable="true"><%= item.Notes %></span> </td>
        </tr>
        
      <% }) %>

    </table>
  </section>

  <section id="footer">
    <button type="button" class="control-bar-item btn btn-secondary create-btn"> <i class="fas fa-sm fa-plus"></i> Update</button>

  </section>

  <%- include("footer") -%>
